@use '../abstracts' as *;

// Syllabus page
.btn-primary {
    background-color: $color-primary;

    @include btn-styles;
}

.btn-secondary {
    background-color: transparent;
    border: none;
    margin: 0.5rem 0;
}

.btn-primary,
.btn-secondary {
    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: transform 0.2s ease 0s;
    }

    &:active {
        transform: translateY(-1px);
    }
}

.new-syllabus-dropdown {
    .btn-primary {
        margin-top: 0.5rem;
    }
}

.new-syllabus-download {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.addField-btn {
    margin-bottom: 1.5rem;
}
