@use '../abstracts' as *;

// Syllabus page
.btn-primary {
    background-color: $color-primary;
    cursor: pointer;

    @include btn-styles;
}

.btn-secondary {
    background-color: transparent;
    border: none;
    margin: 0.5rem 0;
}

.new-syllabus-dropdown {
    .btn-primary {
        margin-top: 0.5rem;
    }
}

.new-syllabus-download {
    background-color: transparent;
    border: none;
}

.addField-btn {
    margin-bottom: 1.5rem;
}

.new-syllabus-nextbtn,
#getstarted-btn-cont {
    margin-top: 0.625rem;
    background-color: $color-primary;
    cursor: pointer;

    @include btn-styles;
}

#getstarted-btn-cont {
    cursor: pointer;
}
