@use '../abstracts' as *;

// Syllabus page
.btn-primary {
    background-color: $color-primary;

    @include btn-styles;
}

.btn-secondary {
    background-color: transparent;
    border: none;
    margin: 0.5rem 0;
}

.btn-primary,
.btn-secondary {
    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: transform 0.2s ease 0s;
    }

    &:active {
        transform: translateY(-1px);
    }
}

.new-syllabus-dropdown {
    .btn-primary {
        margin-top: 0.5rem;
    }
}

.new-syllabus-download {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.add-field-btn {
    background-color: #fff;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    border: 2px solid $color-primary;

    &-line {
        width: 2px;
        height: 1.65rem;
        background-color: $color-primary;
        margin: 0 auto;
    }

    .line-1 {
        transform: translate(0, 6px) rotate(90deg);
    }

    .line-2 {
        transform: translate(0, -20px);
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: transform 0.2s ease 0s;
    }

    &:active {
        transform: translateY(-1px);
    }
}
