@use '../abstracts' as *;

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: $color-light-gray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 2rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.new-syllabus-dropdown {
    display: flex;
    flex-direction: column;
}
