#section-fields-cont {
    // border: 1px solid red;
    height: 70%;
    display: flex;
    flex-direction: column;

    #section-title-cont {
        padding-top: 1rem;
        display: flex;
        flex-flow: column nowrap;
    }

    #section-title-field {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 1px;
        padding: 0.5rem;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 5px;
    }

    #section-desc-cont {
        padding-top: 1.2rem;
        overflow-x: hidden;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        // border: 1px solid red;
    }

    #section-desc-field {
        width: 99.8%;
        margin: 0 auto;
        max-height:200px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 1px;
        padding: 0.5rem;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 5px;
    }
}

.add-field-div {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.section-add-field{
    display: flex;
    align-items: center;
}