#section-fields-cont {
    // border: 1px solid red;
    height: 70%;
    display: flex;
    flex-direction: column;

    .section-contents-cont{
        // border: 1px solid red;
        display: flex;
        flex-flow: column nowrap;
        max-width: 99.9%;
        padding: .5rem;
    }

    .section-point-inputcont {
        
        .section-point-input{
            margin-top: .5rem;
            width: 50%;
            border: none;
            border-bottom: 1px solid black;
        }

        .section-point-input:focus{
            width: 100%;
            border: 1px solid black;
            outline: none;
        }
    }

   

    #section-title-cont {
        padding: .5rem;
        display: flex;
        flex-flow: column nowrap;
    }

    #section-title-field {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 1px;
        padding: 0.5rem;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 5px;
    }


    #section-desc-cont {
        padding-top: 1.2rem;
        overflow-x: auto;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }

    #section-desc-field {
        width: 99.8%;
        max-width: 99.8%;
        margin: 0 auto;
        max-height:200px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 1px;
        padding: 0.5rem;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 5px;
    }
}

.add-field-div {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.section-add-field{
    display: flex;
    align-items: center;
}

#section-list-settings {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    min-width: 30px;
}