@use '../abstracts' as *;

#heading-content-cont {
    margin: 2rem auto;
    height: 87vh; 
    
}

#heading-header {
    text-align: center;
    margin-bottom: 2rem;
}

// FORMAT page
#format-add-list {
    margin-top: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: .9rem;
}