// COLORS
$color-primary: hsl(215, 50%, 26%);

$color-gradient-light: hsl(43, 63%, 82%);
$color-gradient-dark: hsl(183, 62%, 67%);

$color-light-gray: hsl(0, 0%, 98%);
$color-dark-gray: hsla(0, 5%, 55%, 0.3);

$color-text: hsl(231, 13%, 11%);
