@use '../abstracts' as *;

// Syllabus page form
.syllabus-flex {
    display: flex;
}

.heading-input-cont {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.heading-label {
    padding-bottom: 0.15rem;
}

.heading-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}
