@use '../abstracts' as *;

// Landing page
#how-steps-innercont {
    display: grid;
    grid-template-areas:
        'box1 box1 box2 box2 box3 box3'
        'box4 box4 box4 box5 box5 box5';
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    .how-steps-box:nth-child(1) {
        grid-area: box1;
    }
    .how-steps-box:nth-child(2) {
        grid-area: box2;
    }
    .how-steps-box:nth-child(3) {
        grid-area: box3;
    }
    .how-steps-box:nth-child(4) {
        grid-area: box4;
    }
    .how-steps-box:nth-child(5) {
        grid-area: box5;
    }
}

// Syllabus page
.syllabus-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}
