@use '../abstracts' as *;

#landing-getstarted-cont {
    height: 94vh;
    background-image: linear-gradient(
            to left,
            hsla(43, 63%, 82%, 0.7),
            hsla(43, 63%, 82%, 0.1)
        ),
        var(--heroImage);
    background-position: center;
    background-size: cover;

    @include flex-center;
}

#getstarted-content {
    width: 60%;

    & > button {
        margin-top: 2rem;
    }
}
