@use '../abstracts' as *;

.main-nav {
    background: linear-gradient(
        to left,
        $color-gradient-light,
        $color-gradient-dark
    );

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        width: 95vw;
        padding:0 2rem;
    }

    .nav-links > * {
        padding: 0 1rem;
    }
}

.logo {
    @include flex-center;

    & > img {
        width: 2.25rem;
        height: 2.25rem;
    }
}
