@use '../abstracts' as *;

#new-syllabus-nav {
    background: linear-gradient(
        to left,
        $color-gradient-light,
        $color-gradient-dark
    );

    .new-syllabus-navdivs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        width: 95vw;
        padding:0 2rem;
    }
}

#new-syllabus-titleform {
    width: 27vw;
    height: 50%;
    padding: 0.625rem;
    border: 1px solid white;
    border-color: white;
    border-radius: 5px;
    background-color: $color-dark-gray;
    text-align: center;
}

#heading-cont{
    width: min(90%, 71.25rem);
    margin: 0 auto;
    overflow: hidden;
}

#new-syllabus-downloadcont {
    display: flex;
    align-items: center;
}

#new-syllabus-content-cont {
    height: 100%;
    width: 100%;

    display: flex;
}

// SIDE NAV

#side-nav-cont{
    border: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #0D1318;
    min-width: 200px;
    overflow-x: auto;
    width: 15vw;



    display: flex;
    flex-flow: column nowrap;

    #side-nav-top{
        display: flex;
    }

    .side-nav-link{
        min-width:30px;
        overflow: auto;
        max-height: 75px;
        height: 50px;
        width: 100%;
        color: #FFFFFF;
        font-size: 13px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .active-side-nav {
        background-color: #293039;
        border-radius: 10px;
    }
}

