body {
  min-height: 100vh;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: #181920;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

input,
button,
textarea,
select {
  font: inherit;
  font-weight: 500;
}

a {
  color: #181920;
  font-weight: 500;
}

.logo {
  font-family: "Alef", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.nav-links,
.new-syllabus-navtext,
#new-syllabus-titleform,
.heading-input-heading,
#testimonial-person-info > span {
  font-size: 0.875rem;
}

.new-syllabus-download,
.new-syllabus-nextbtn,
#getstarted-btn-cont {
  color: white;
  font-size: 0.875rem;
}

#getstarted-content-cont h1 {
  font-size: 3rem;
}
#getstarted-content-cont p {
  font-size: 1.1rem;
}

#testimonial-person-info > span:nth-child(1) {
  font-weight: 700;
}

#how-heading-cont h2 {
  font-size: 2.5rem;
}
#how-heading-cont p {
  font-size: 1.1rem;
}

.how-steps-box h3 {
  font-size: 1.3rem;
}

#download-h6 {
  font-size: 0.75rem;
}

#heading-header,
.page-section-title {
  font-size: 1.2rem;
}

.container {
  width: min(90%, 71.25rem);
  margin: 0 auto;
  overflow: hidden;
}

#landing-getstarted-cont {
  height: 90vh;
  background-image: linear-gradient(to right, #eedeb4, rgba(238, 222, 180, 0.2)), var(--heroImage);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#getstarted-content {
  width: 60%;
}
#getstarted-content > button {
  margin-top: 2rem;
}

.main-nav {
  background: linear-gradient(to right, #eedeb4, #77dadf);
}
.main-nav-content {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav .nav-links > * {
  padding: 0 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  width: 2.25rem;
  height: 2.25rem;
}

#new-syllabus-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: linear-gradient(to right, #eedeb4, #77dadf);
}

#new-syllabus-titleform {
  width: 27vw;
  height: 50%;
  padding: 0.625rem;
  border: 1px solid white;
  border-color: white;
  border-radius: 5px;
  background-color: rgba(146, 135, 135, 0.3);
  text-align: center;
}

#new-syllabus-downloadcont {
  display: flex;
  align-items: center;
}

#how-steps-innercont {
  display: grid;
  grid-template-areas: "box1 box1 box2 box2 box3 box3" "box4 box4 box4 box5 box5 box5";
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
#how-steps-innercont .how-steps-box:nth-child(1) {
  grid-area: box1;
}
#how-steps-innercont .how-steps-box:nth-child(2) {
  grid-area: box2;
}
#how-steps-innercont .how-steps-box:nth-child(3) {
  grid-area: box3;
}
#how-steps-innercont .how-steps-box:nth-child(4) {
  grid-area: box4;
}
#how-steps-innercont .how-steps-box:nth-child(5) {
  grid-area: box5;
}

.syllabus-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  justify-items: flex-start;
  align-items: center;
}
.syllabus-grid .syllabus-grid-wrapper {
  width: 100%;
}

#heading-form {
  padding: 0 0.25rem;
}
#heading-form .doc-title {
  width: 25%;
}
#heading-form .syllabus-flex {
  display: flex;
  align-items: center;
}
#heading-form .heading-input-cont {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
#heading-form .heading-input-cont .heading-label {
  padding-bottom: 0.15rem;
}
#heading-form .heading-input-cont .heading-input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}
#heading-form .heading-input-cont .input-spacing {
  margin-right: 3rem;
}
#heading-form .syllabus-btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
}

#description-form {
  width: 100%;
  height: 60%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.outcome-label {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.outcome-field {
  height: 10%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.new-syllabus-download {
  background-color: #213d63;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
}

.addField-btn {
  margin-bottom: 1.5rem;
}

.new-syllabus-nextbtn,
#getstarted-btn-cont {
  margin-top: 0.625rem;
  background-color: #213d63;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  display: none;
  width: 22rem;
  height: 15rem;
  background-color: #fafafa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.new-syllabus-dropdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#download-h6 {
  width: 100%;
  padding-left: 1rem;
}

.dropdown-choice {
  width: 93%;
  height: 23%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-testimonial-cont {
  background-color: #eedeb4;
}

#testimonial-content-cont {
  padding: 4rem 0;
}

#testimonial-bubble {
  position: relative;
  width: 70%;
  margin: 0 auto 2rem;
  padding: 3rem 2.5rem;
  border-radius: 5px;
  background-color: #fff;
}
#testimonial-bubble #arrow-down {
  position: absolute;
  bottom: -0.6rem;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#testimonial-person-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonial-person-cont #testimonial-person-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#testimonial-person-cont #testimonial-person-info > span {
  display: block;
  margin-left: 1rem;
}

#landing-how-cont {
  padding: 4rem 0;
}

#how-heading-cont {
  width: 50%;
  margin: 0 auto 2rem;
  text-align: center;
}

#how-steps-innercont .how-steps-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  text-align: center;
}
#how-steps-innercont .how-steps-box .number-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}
#how-steps-innercont .how-steps-box h3 {
  margin-bottom: 0.5rem;
}

#heading-header {
  text-align: center;
  margin: 2rem 0;
}

#syllabus-content-cont {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.syllabus-textcontent-cont {
  height: 15%;
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.syllabus-formscontent-cont {
  height: 85%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.syllabus-btncontent-cont {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.syllabus-prevnext-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#syllabus-outcome-fields {
  height: 63.7%;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
